@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChiTietCacNganh</title>

    <style>
        body {
            padding: 0;
            margin: 0;
        }

        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid #dfdfdf;
            background-origin: content-box;
            padding-left: 15px;
        }

            .column p {
               
                background-image: url('/Content/img/arrow_right.png');
                background-position: center right;
                background-repeat: no-repeat;
                background-size: contain;
                font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
            }
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>
    <div>
        <div class="header-logo" >
            <img src="~/Content/css/main/images/logo.jpg" style="width:80%;height:auto" />
        </div>
        <img src="/Content/img/danhsach_nganh.jpg" style="width:100%;height:auto" />
        <div class="row">
            <div class="column"  onclick="window.location='/Home/ChiTietCacNganh?id_nganh=1'">
                <p style="">ĐÀO TẠO <b>BẬC ĐẠI HỌC</b> </p>
            </div>
            <div class="column"  onclick="window.location='/Home/ChiTietCacNganh?id_nganh=1'">
                <p style="">ĐÀO TẠO <b>BẬC THẠC SĨ</b> </p>
            </div>
            <div class="column"  onclick="window.location='/Home/ChiTietCacNganh?id_nganh=1'">
                <p style="">ĐÀO TẠO <b>LIÊN THÔNG ĐẠI HỌC</b> </p>
            </div>
            <div class="column"  onclick="window.location='/Home/ChiTietCacNganh?id_nganh=2'">
                <p style="">ĐÀO TẠO <b>LIÊN / XUYÊN NGÀNH</b></p>
            </div>
            <div class="column"  onclick="window.location='/Home/ChiTietCacNganh?id_nganh=3'">
                <p style="">ĐÀO TẠO <b>SONG NGÀNH</b></p>
            </div>
            <div class="column"  onclick="window.location='/Home/ChiTietCacNganh?id_nganh=4'">
                <p style="">ĐÀO TẠO <b>VĂN BẰNG 2</b></p>
            </div>
            <div class="column"  onclick="window.location='/Home/ChiTietCacNganh?id_nganh=5'">
                <p style="">ĐÀO TẠO <b>ĐẠI HỌC TỪ XA</b></p>
            </div>
            <div class="column"  onclick="window.location='/Home/ChiTietCacNganh?id_nganh=5'">
                <p style="">ĐÀO TẠO <b>TRUNG CẤP</b></p>
            </div>
        </div>


    </div>
</body>
</html>
