
@{
    ViewBag.Title = "ChinhSachHocBong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #mg {
        margin-bottom: 5px
    }

    #text {
        font-size: 20px;
        margin-top: 10px;
        text-align: justify;
    }
</style>

<section id="about">
    <div class="container">
        <header class="section-header">
            <h3>CHÍNH SÁCH HỌC BỔNG</h3>
            <p>
                Học bổng mỗi năm cho sinh viên : 20 tỷ VNĐ
            </p>
        </header>
        <div class="row about-container">
            <div class="col-lg-6 content order-lg-1 order-2">
                <p id="text">
                    <b style="color:red">Sinh viên các ngành được tặng học bổng ĐH và CĐ học kỳ dầu: <br /></b>
                    <b> ► Điểm thi trung học phổ thông <br /></b>
                    <b> ► Điểm học bạ trung học phổ thông <br /></b>
                    - Từ điểm chuẩn đến 24: 3.000.000đ <br />
                    - Trên 24 điểm:	4.000.000đ <br />
                    <b> ► Điểm đánh giá theo kỳ thi năng lực Đại học Quốc gia: </b>3.000.000đ
                </p>
                <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-graduation-cap"></i></div>
                    <h4 class="title">
                        Học bổng 100% học phí năm học dầu tiên cho các thủ khoa đầu vào của Trường.
                    </h4>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-sign-language"></i></div>
                    <h4 class="title">Giảm 50% học phí năm học đầu cho sinh viên</h4>
                    <p id="mg" class="description">- Ngành Tiếng Việt và Văn hóa Việt Nam</p>
                    <p id="mg" class="description">- Ngành Thanh nhạc, Piano nếu đoạt giải cao tại các cuộc thi Nghệ thuật Quốc gia</p>
                    <p id="mg" class="description">- Sinh viên trường THPT Nguyễn Tất Thành, Quận 6</p>
                    <p id="mg" class="description">- Sinh viên trường THPT Nguyễn Trãi, Quận 4</p>
                    <p id="mg" class="description">- Sinh viên trường THPT Nguyễn Hữu Thọ, Quận 4</p>
                    <p id="mg" class="description">- Sinh viên trường THCS&THPT Chu Văn An, Bình Tân</p>
                    <p id="mg" class="description">- Sinh viên trường THPT Lý Thường Kiệt, Huyện Hóc Môn</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon"><i class="fa fa-trophy"></i></div>
                    <h4 class="title">Giảm 20% học phí năm học đầu tiên</h4>
                    <p id="mg" class="description">
                        - Sinh viên nữ ngành Kỹ thuật hệ thống Công nghiệp - Công nghệ Kỹ thuật Điện - Điện tử
                    </p>
                    <p id="mg" class="description">
                        - Sinh viên nữ ngành Công nghệ Kỹ thuật Cơ - Điện tử - Kỹ thuật Xây dựng
                    </p>
                    <p id="mg" class="description">
                        - Sinh viên nữ ngành Thiết kế nội thất
                    </p>
                    <p id="mg" class="description">
                        - Sinh viên nữ ngành Kiến trúc
                    </p>
                </div>
                <p id="text">
                    <b style="color:red">Giảm 25% học phí/ học kì</b>
                    nếu sinh viên là con/ anh/ chị/ em
                    ruột của giáo viên các trường THPT
                    hoặc của CB - CNV - GV cơ hữu tại
                    Trường ĐH Nguyễn Tất Thành.
                </p>
                <p id="text">
                    <b style="color:red">Giảm 20% học phí/ học kì</b>
                    nếu sinh viên mồ côi cả cha lẫn mẹ,
                    hộ nghèo/ cận nghèo hoặc sinh viên
                    là lao động chính trong gia đình.
                </p>
                <p id="text">
                    <b style="color:red">Giảm 10% học phí/ học kì</b>
                    nếu sinh viên là con ruột của Anh hùng
                    lực lượng vũ trang nhân dân, Anh hùng
                    lao động, thương binh, liệt sĩ, người có
                    công với cách mạng, dân tộc thiểu số
                    hoặc có anh/ chị/ em ruột học chung
                    trường tại cùng thời điểm.
                </p>
                <p id="text">
                    Tặng voucher khóa học ngoại ngữ trị giá <b style="color:red">5.000.000đ</b><br />
                    tại Trung tâm Ngoại ngữ - Trường Đại học Nguyễn Tất Thành nếu sinh viên nhập học đến hết ngày<br />
                    <b style="color:red">31/08/2021</b>
                </p>
            </div>
        </div>
    </div>
</section>
