
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChiTietRiengVienQuocTe</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/vienquocte.css" rel="stylesheet" />
    
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <section id="header">
        <div class="header-logo" style="padding-left:10px">
            <a onclick="goBack()"><img src="~/Content/img/arrow_left.png" alt="" class="go_back" style="width:30px"></a>
        </div>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </section>
    <div class="content_chitiet">
        <div class="bgr_area">
            <div class="icon_bgr">
                <img src="/Content/img/1 - ke toan copy.png" />
            </div>
            <div class="content_bgr">
                <h4>Kế toán</h4>
                <span>Chuyên ngành: <b>Kế toán tài chính</b></span>
                <p>Tổ hợp xét tuyển: <b>A00, A01, D01, D07</b></p>
            </div>
        </div>
        <div class="area_img_chitiet">
            <img src="/Content/img/ct_ketoan.jpg"/>
        </div>
        <div class="area_gioithieu">
            <div class="area_gioithieu__title bgr_title_ct">
                <h4>GIỚI THIỆU NGÀNH HỌC</h4>
            </div>
            <div class="area_gioithieu__content">
                Kế toán được xem là ngành học tiềm năng cho sự chuyển dịch lao động
            </div>
        </div>
        <div class="area_cohoi">
            <div class="area_cohoi__title bgr_title_ct">
                <h4>Cơ hội nghề nghiệp</h4>
            </div>
            <div class="area_cohoi__content">
                <div class="area_cohoi__content-left">
                    <ul>
                        <li>1.</li>
                        <li>2.</li>
                    </ul>
                </div>
                <div class="area_cohoi__content-right">
                    <ul>
                        <li>Kế toán viên</li>
                        <li>Kế toán tổng hợp</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="area_tohop">
            <div class="area_tohop__title bgr_title_ct">
                <h4>Tổ hợp xét tuyển</h4>
            </div>
            <div class="area_tohop__content">
                <div class="item__tohop">
                    <div class="item__tohop-title"> 
                        <h3>A00</h3>     
                    </div>
                    <div class="item__tohop-content">
                        <span>Toán</span>
                        <span>Vật lý</span>
                        <span>Hóa học</span>
                    </div>
                </div>
                <div class="item__tohop">
                    <div class="item__tohop-title">
                        <h3>A00</h3>
                    </div>
                    <div class="item__tohop-content">
                        <span>Toán</span>
                        <span>Vật lý</span>
                        <span>Hóa học</span>
                    </div>
                </div>
                <div class="item__tohop">
                    <div class="item__tohop-title">
                        <h3>A00</h3>
                    </div>
                    <div class="item__tohop-content">
                        <span>Toán</span>
                        <span>Vật lý</span>
                        <span>Hóa học</span>
                    </div>
                </div>
                <div class="item__tohop">
                    <div class="item__tohop-title">
                        <h3>A00</h3>
                    </div>
                    <div class="item__tohop-content">
                        <span>Toán</span>
                        <span>Vật lý</span>
                        <span>Hóa học</span>
                    </div>
                </div>
            </div>
            <div class="area_dangkyngay">
                <div class="left__icon">
                    <i class="fa fa-heart"></i>
                </div>
                <div class="right__content">
                    Đăng ký xét tuyển ngay!
                </div>
            </div>
        </div>
        <div class="area__hotline">
            <div class="area__hotline-item_1">
                <div class="website__niie">
                    www.niie.edu.vn
                </div>
                <div class="tellme__niie">
                    Call us: <b>0934 116 244 - 0938 116 244</b>
                </div>
            </div>
            <div class="area__hotline-item_2">
                <div class="tennganh__niie">
                    Kế toán
                </div>
                <div class="hotline__niie">
                    Hotline: 1900 2039 (EXT 700)
                </div>
            </div>
        </div>
        <div class="area_monhoc">
            <div class="area_monhoc__title bgr_title_ct">
                <h4>Môn học chuyên ngành</h4>
            </div>
            <div class="area_monhoc__content">               
                <ul class="list__monhoc">
                    <li>Microeconomics</li>
                    <li>Macroeconomics</li>
                </ul>               
            </div>
        </div>
    </div>
</body>
</html>
