
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChiTietThacSi</title>
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" type="text/css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <style>
        #header {
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
        }

            #header a:active {
                outline: none;
            }

            #header img:active {
                background-color: transparent;
            }

        p {
            text-align: justify
        }
    </style>
</head>
<body>
    <div>
        <section id="header">
            <div class="header-logo" style="padding-left:10px">
                <a href="/Home/ChiTietCacNganh?id_nganh=2"><img src="~/Content/img/arrow_left.png" alt="" class="go_back" style="width:30px"></a>
            </div>
        </section>
        <p style="margin-top:80px;font-size:18px;text-align:center">
            <strong>GIỚI THIỆU VỀ VIỆN SAU ĐẠI HỌC</strong>
        </p>
        <p>
            <strong>1. </strong>
            <strong>Giới thiệu chung</strong>
        </p>
        <p>
            &nbsp; Ra đời từ chủ trương xã hội hóa giáo dục, Trường Đại học Nguyễn Tất Thành
            đã không ngừng đầu tư, xây dựng và phát triển để trở thành một trường đại
            học đẳng cấp quốc gia và hội nhập quốc tế. Sau 20 năm, đến nay Nhà trường
            đã có những bước tiến vượt trội trong công tác đào tạo với 15 khoa, 44
            chương trình đào tạo bậc đại học, 7 chương trình đào tạo bậc sau đại học.
        </p>
        <p>
            &nbsp; Trước việc phát triển không ngừng, Viện Đào tạo Sau đại học được thành lập
            vào ngày 02/05/2016 theo Quyết định số 202/QĐ-NTT của Hiệu trưởng Nhà
            trường. Việc thành lập Viện nhằm đáp ứng chủ trương mở rộng, nâng cao chất
            lượng đào tạo bậc sau đại học, thích ứng kịp thời với những nhu cầu của xã
            hội và nền kinh tế năng động hiện nay, đồng thời góp phần xây dựng trường
            Đại học Nguyễn Tất Thành ngày càng phát triển.
        </p>
        <p>
            &nbsp; Các chương trình đào tạo bậc sau đại học của Trường Đại học Nguyễn Tất
            Thành được người học quan tâm và đón nhận, góp phần phồn vinh về kinh tế,
            ổn định về xã hội, phát triển bền vững và vươn lên hội nhập khu vực và toàn
            cầu.
        </p>
        <p>
            <strong>2. </strong>
            <strong>Chức năng - Nhiệm vụ</strong>
        </p>
        <p>
            <strong>2.1. </strong>
            <strong>Chức năng</strong>
        </p>
        <p>
            - Tham mưu cho Hiệu trưởng về chiến lược phát triển đào tạo bậc sau đại
            học;<strong></strong>
        </p>
        <p>
            - Tổ chức và quản lý các hoạt động của chương trình đào tạo sau đại học tại
            Trường theo đúng quy định, quy chế của Bộ Giáo dục và Đào tạo và của Nhà
            Trường;<strong></strong>
        </p>
        <p>
            - Tổ chức nghiên cứu khoa học, ứng dụng và hợp tác khoa học;    <strong></strong>
        </p>
        <p>
            - Huy động nguồn lực có trình độ cao nhằm hỗ trợ nghiên cứu, đào tạo.    <strong></strong>
        </p>
        <p>
            <strong>2.2. </strong>
            <strong>Nhiệm vụ</strong>
        </p>
        <p>
            - Khai thác có hiệu quả, phát triển chương trình đào tạo thạc sĩ, tiến sĩ;
        </p>
        <p>
            - Tham gia xây dựng chương trình đào tạo bậc sau đại học của Trường theo
            chuẩn quốc tế ở bậc đào tạo trình độ thạc sĩ, tiến sĩ để nâng cao chất
            lượng đào tạo;
        </p>
        <p>
            - Góp phần xây dựng thương hiệu của Trường nhằm thu hút sinh viên nước
            ngoài đến học tại Trường;
        </p>
        <p>
            - Phát triển có chọn lọc các chương trình, mô hình tiên tiến trên thế giới
            nhằm hình thành các ngành đào tạo và hình thức đào tạo mới; tạo điều kiện
            nâng cao năng lực đội ngũ cán bộ, giảng viên của Trường;
        </p>
        <p>
            - Xây dựng và đổi mới các chương trình đào tạo đồng bộ với các chương trình
            đào tạo khác của Trường và các tổ chức quốc tế;
        </p>
        <p>
            - Nghiên cứu, tư vấn chính sách phát triển Kinh tế - Xã hội và quản lý nhà
            nước cho các địa phương, chiến luợc phát triển và quản trị cho các doanh
            nghiệp.
        </p>
        <p>
            <strong>2.3. </strong>
            <strong>Tổ chức và quản lý các hoạt động đào tạo sau đại học</strong>
        </p>
        <p>
            - Soạn thảo các quy định về đào tạo sau đại học, quy trình và hướng dẫn
            thực hiện quy chế, quy định về đào tạo sau đại học;
        </p>
        <p>
            - Khai thác có hiệu quả và phát triển các chương trình, dự án hợp tác đào
            tạo với các trường đại học và tổ chức giáo dục nhằm đáp ứng nhu cầu người
            học;
        </p>
        <p>
            - Quản lý toàn bộ các hoạt động liên quan đến đào tạo và quá trình học tập
            của học viên và nghiên cứu sinh;
        </p>
        <p>
            - Quản lý hành chính tất cả các chương trình đào tạo, liên kết đào tạo sau
            đại học của Trường với các cơ sở ngoài nước.
        </p>
        <p>
            <strong>2.4. </strong>
            <strong>
                Tổ chức các hoạt động nghiên cứu, ứng dụng và hợp tác khoa học
            </strong>
        </p>
        <p>
            - Tổ chức các hoạt động nghiên cứu khoa học, hội thảo khoa học, khảo sát…
            nhằm phục vụ học tập, bồi dưỡng, trao đổi, nghiên cứu của học viên và
            nghiên cứu sinh;
        </p>
        <p>
            - Phát triển các hoạt động trao đổi học thuật với các trường, tổ chức đào
            tạo bậc học tương đương;
        </p>
        <p>
            - Khai thác tối đa các nguồn tài trợ cho hoạt động nghiên cứu khoa học của
            học viên, nghiên cứu sinh và giảng viên từ các tổ chức khác.
        </p>
        <p>
            <strong>2.5. </strong>
            <strong>Các hoạt động dịch vụ hỗ trợ nghiên cứu và đào tạo</strong>
        </p>
        <p>
            - Cung cấp dịch vụ khoa học cho địa phương và doanh nghiệp bao gồm: tư vấn
            khảo sát, thực hiện điều tra, nghiên cứu phát triển kinh tế-xã hội và kinh
            doanh;
        </p>
        <p>
            - Tổ chức các khóa bồi dưỡng kiến thức kinh tế, bồi dưỡng kiến thức kinh
            doanh và quản lý nhằm phục vụ nhu cầu của học viên và nghiên cứu sinh.
        </p>
    </div>
</body>
</html>
