@model IEnumerable<AppTS.ViewModels.MenuView>
    <div class="container">
        <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
            <a  class="scrollto"><img src="~/Content/img/logo.jpg" alt="" class="img-fluid"></a>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class="menu-tv tv_dudoan"><a href="@Url.Action("DuDoan", "TuVan")">Dự đoán điểm thi tốt nghiệp</a></li>               
                <li class="menu-tv tv_chonnganh"><a href="@Url.Action("TuVanChonNganh", "TuVan")">Tư vấn chọn ngành</a></li>              
                <li class ="menu-tv tv_chonnghe"><a href="@Url.Action("TuVanChonNgheNghiep", "TuVan") ">Tự vấn chọn nghề nghiệp</a></li>
                <li class="menu-tv tv_chontruong"><a href="@Url.Action("TuVanChonTruong", "TuVan")">Tự vấn chọn trường</a></li>              
            </ul>
        </nav><!-- .main-nav -->
    </div>