@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #mg {
        margin-bottom: 5px
    }

    #text {
        font-size: 20px;
        margin-top: 10px;
        text-align: justify;
    }
</style>
<!--==========================
      About Us Section
    ============================-->
<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>Giới thiệu về Trường Đại học Nguyễn Tất Thành</h3>
            <p>NTTU - Trường Đại học Nguyễn Tất Thành là trường đại học được định vị là trường ứng dụng thực hành, đáp ứng nhu cầu giáo dục đại học đại chúng thông qua việc tạo lập một môi trường học tập tích cực và trải nghiệm thực tiễn cho mọi sinh viên trang bị cho người học năng lực tự học tinh thần sáng tạo khởi nghiệp có trách nhiệm với cộng đồng hội nhập với khu vực và toàn cầu</p>
        </header>

        <div class="row about-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                <p id="text">
                    Trường ĐH Nguyễn Tất Thành có quy mô đào tạo khoảng 20.000 sinh viên với 15 khoa, 48 chương trình đào tạo bậc đại học thuộc 5 khối ngành: Sức khỏe, Công nghệ - Kĩ thuật, Kinh tế, Xã hội - Nhân văn, Mỹ thuật. Trải qua hơn 20 năm hình thành và phát triển, Nhà trường đã được Bộ Giáo dục và Đào tạo công nhận đạt chuẩn kiểm định chất lượng và được tổ chức QS (QS Quacquarelli Symonds Ltd) chính thức công nhận đạt chuẩn chất lượng 4 sao
                </p>

                <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                    <h4 class="title">ĐỘI NGŨ GIẢNG VIÊN</h4>
                    <p id="mg" class="description">- 924 giảng viên</p>
                    <p id="mg" class="description">- 90% có bằng TS, ThS  </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-photo"></i></div>
                    <h4 class="title">CƠ SỞ VẬT CHẤT</h4>
                    <p id="mg" class="description">- 8 cơ sở đào tạo</p>
                    <p id="mg" class="description">- 100.000 m² sàn xây dựng</p>
                    <p id="mg" class="description">- 3.000 máy tính</p>
                    <p id="mg" class="description">- 100.000 bản sách trong nước và quốc tế</p>
                    <p id="mg" class="description">- Thư viện đạt chuẩn Quốc gia</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon"><i class="fa fa-bar-chart"></i></div>
                    <h4 class="title">CHẤT LƯỢNG</h4>
                    <p id="mg" class="description">- Đạt chuẩn kiểm định chất lượng của Bộ GD&ĐT</p>
                    <p id="mg" class="description">- Đạt chuẩn QS-Stars 4 sao (Anh Quốc)</p>
                    <p id="mg" class="description">- Đạt chuẩn kiểm định chất lượng CTĐT ngành Quản trị khách sạn trình độ đại học</p>
                    <p id="mg" class="description">- Đạt chuẩn kiểm định chất lượng CTĐT ngành Công nghệ Kỹ thuật Điện, Điện tử trình độ đại học</p>
                </div>

            </div>

            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                <img src="~/Content/img/APD.jpg" class="img-fluid" alt="">
            </div>
        </div>

        <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp">
                <img src="~/Content/img/thuvien.jpg " class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                <h3 id="text">Hệ thống Cơ sở vật chất</h3>
                <p id="text">
                    Trải qua hơn 20 xây dựng và phát triển từ một trung tâm đào tạo nghề Trường Đại học Nguyễn Tất Thành đã trở thành một cơ sở đào tạo đa ngành, đa bậc học có uy tín trong cả nước và quốc tế. Để có được thành quả này, Nhà trường đã không ngừng đầu tư về mọi mặt trong đó ưu tiên cho việc xây dựng cơ sở vật chất phòng học, phòng thí nghiệm, phòng thực hành nhằm đảm bảo chỗ học cho gần 20.000 sinh viên, học viên theo học các bậc đào tạo cao học và đại học tại 15 khoa với 5 khối ngành Sức khỏe, Kinh tế, Xã hội - Nhân văn, Kỹ thuật – Công nghệ, Nghệ thuật – Mỹ thuật.
                </p>
            </div>
        </div>

        <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                <img src="~/Content/img/baove.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                <h3 id="text">Phát triển bền vững</h3>
                <p id="text">
                    Năm 1987, trong Báo cáo “Tương lai chung của chúng ta”, Ủy ban Thế giới về Môi trường và Phát triển (WCED-World Commission on Environment and Development) của Liên hợp quốc, thì "phát triển bền vững" được định nghĩa là “Sự phát triển đáp ứng được nhu cầu của hiện tại mà không làm tổn thương khả năng cho việc đáp ứng nhu cầu của các thế hệ tương lai”.
                </p>
                <p id="text">
                    Trường Đại học Nguyễn Tất Thành hiểu, nắm rõ và thực hiện theo tinh thần này thông qua nhiều hoạt động, chương trình thực tế để biến thông điệp thành thói quen nhằm giúp sinh viên thực sự sống và học tập có trách nhiệm với môi trường và xã hội xung quanh mình.
                </p>
                <p id="text">
                    Gieo mầm xanh, gặt sự sống
                </p>
            </div>

        </div>
    </div>
</section>
<p style="text-align: center">---------------------------------------------</p><!-- #about -->
<!--==========================
      About Us Section
    ============================-->
<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>10 lý do chọn Đại học Nguyễn Tất Thành để xây dựng cho tương lai</h3>
        </header>

        <div class="row about-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                <h4 id="text">1. ĐẠI HỌC ĐẠT CHUẨN CẤP QUỐC GIA VÀ KHU VỰC</h4>
                <p id="text">
                    Đại học Nguyễn Tất Thành là trường đại học thứ 2 tại Việt Nam được xếp hạng 4 sao theo chuẩn QS Stars (Anh Quốc) và hệ thống đối sánh chất lượng giáo dục đại học khu vực Đông Nam Á - UPM. Hầu hết các chương trình đào tạo được xây dựng theo khung của Bộ GD-ĐT theo định hướng CDIO và hướng tới kiểm định AUN-QA. Các học phần luôn ưu tiên đến tính ứng dụng, thực hành và bám sát chuẩn đầu ra.
                </p>
            </div>
            <div class="col-lg-6 content order-lg-1 order-2">
                <h4 id="text">2. CƠ SỞ VẬT CHẤT VÀ DỊCH VỤ HỌC TẬP CỰC TỐT</h4>
                <p id="text">
                    Với 1.000 tỷ đồng được dùng để đầu tư hệ thống cơ sở vật chất, thiết bị dạy và học. Có hơn 500 phòng học lý thuyết, khu Thí nghiệm - Thực hành, phòng mô phỏng được trang bị đầy đủ máy lạnh, âm thanh, máy chiếu, sóng wifì phủ khắp tại các cơ sở. Bên cạnh đó, các dịch vụ hỗ trợ học tập và sinh hoạt tại thư viện, khu tự học, khu vui chơi giải trí, căn-tin... được đầu tư bài bản đem đến cho sinh viên môi trường thân thiện, phát huy tối đa tính sáng tạo, phát triển tư duy và khả năng thích ứng cao.
                </p>
            </div>
            <div class="col-lg-6 content order-lg-1 order-2">
                <h4 id="text">3. HỆ THỐNG GIÁO DỤC ĐA NGÀNH NGHỀ</h4>
                <p id="text">
                    Trường Đại học Nguyễn Tất Thành có hệ thống giáo dục đa ngành, đa bậc học đáp ứng theo nhu cầu nhân lực của xã hội từ Sức khỏe, Kinh tế, Kỹ thuật - Công nghệ, Xã hội - Nhân văn cho đến Nghệ thuật - Mỹ thuật. Chương trình đào tạo được cập nhật thường xuyên, mang tính ứng dụng thực tiễn cao. 100% đào tạo theo hệ thống tín chỉ, giúp sinh viên chủ động về thời gian học tập.
                </p>
            </div>
            <div class="col-lg-6 content order-lg-1 order-2">
                <h4 id="text">4. LỰC LƯỢNG CHUYÊN MÔN GIỎI, CÓ TÂM HUYẾT VỚI NGHỀ</h4>
                <p id="text">
                    Nhà trường hiện có 2.000 giảng viên, trong đó có 11 Giáo sư, 31 Phó giáo sư, hơn 175 Tiến sỹ Khoa học và Tiến sĩ, hơn 700 thạc sĩ cùng với lực lượng Giảng viên doanh nhân, Giảng viên trẻ năng động nhiệt huyết, có trình độ chuyên môn cao sẽ đem đến cho sinh viên những kiến thức, kỹ năng thuần thục đế các em tự tin trước khi bước vào con đường lập nghiệp.
                </p>
            </div>
            <div class="col-lg-6 content order-lg-1 order-2">
                <h4 id="text">5. CHẤT LƯỢNG ĐÀO TẠO HÀI LÒNG NHA TUYỂN DỤNG</h4>
                <p id="text">
                    "Thực học - Thực hành - Thực danh - Thực nghiệp" là triết lý đào tạo của Đại học Nguyễn Tất Thành trong việc dạy và học nhằm hướng đến nâng cao giá trị bản thân người học đối với gia đình, cộng đồng và xã hội. 100% sinh viên Đại học Nguyễn Tất Thành được giới thiệu việc làm ngay sau khi ra trường và được các nhà tuyển dụng đánh giá cao không chỉ ở hiệu quả công việc mà còn ở thái độ cầu tiến, ham học hỏi, chịu dấn thân và không ngại thử thách.
                </p>
            </div>
            <div class="col-lg-6 content order-lg-1 order-2">
                <h4 id="text">6. KẾT NỐI DOANH NGHIỆP</h4>
                <p id="text">
                    Câu lạc bộ doanh nghiệp có hơn 2.000 doanh nghiệp thành viên hoạt động đa lĩnh vực đảm bảo cho sinh viên ở bất cứ ngành học nào đều có cơ hội tiếp cận để tích lũy kinh nghiệm, tạo dựng mối quan hệ trong ngành trước khi ra trường. Đại diện phía doanh nghiệp sẽ đóng vai trò là cố vấn, kết nối thường xuyên với các khoa để tham gia xây dựng chương trình đào tạo sao cho phù hợp với nhu cầu nhà tuyển dụng.
                </p>
            </div>
            <div class="col-lg-6 content order-lg-1 order-2">
                <h4 id="text">7. NHIỀU CƠ HỘI THỰC TẬP VÀ TRẢI NGHIỆM "DU HỌC" NGẮN NGÀY</h4>
                <p id="text">
                    Sinh viên sẽ được trải nghiệm thực tiễn khi tham gia các kỳ thực tập tại các quốc gia hàng đầu như Nhật Bản, Hàn Quốc, Đài Loan, Malaysia, Israel, Đức... Ngoài ra, sinh viên Đại học Nguyễn Tất Thành còn có cơ hội tiếp xúc và học tập cùng sinh viên ngoại quốc tại các chương trình trao đổi sinh viên và các chương trình hợp tác quốc tế với Nhà trường.
                </p>
            </div>
            <div class="col-lg-6 content order-lg-1 order-2">
                <h4 id="text">8. NHIỀU HỌC BỔNG CÓ GIÁ TRỊ</h4>
                <p id="text">
                    Mỗi năm Trường ĐH Nguyễn Tất Thành trích ngân sách hàng chục tỷ đồng thành lập quỹ học bổng cho các em học sinh sinh viên có hoàn cảnh khó khăn, đạt thành tích cao trong học tập; trao học bống cho tân sinh viên là thủ khoa đầu vào của Trường; thủ khoa của các Khoa; học bổng cho thủ khoa tốt nghiệp; sinh viên trúng tuyển với số điểm cao cũng như đồng hành cùng các dự án học bổng khác.
                </p>
            </div>
            <div class="col-lg-6 content order-lg-1 order-2">
                <h4 id="text">9. ĐA DẠNG LOẠI HÌNH SINH HOẠT CẦU LẠC BộỀ</h4>
                <p id="text">
                    Có đến hơn 50 CLB dành cho sinh viên sinh hoạt và thỏa mãn đam mê của mình từ loại hình học thuật, thể thao đến kỹ năng, giải trí, nghệ thuật. Đặc biệt hơn, ở mỗi năm học nhiều hoạt động và sự kiện đặc sắc, thú vị được diễn ra, tạo nên những dấu ấn đặc biệt.
                </p>
            </div>
            <div class="col-lg-6 content order-lg-1 order-2">
                <h4 id="text">10. PHÁT TRIỂN TOÀN DIỆN BẢN THÂN</h4>
                <p id="text">
                    Là một sinh viên tại Đại học Nguyễn Tất Thành các bạn sẽ được sớm tiếp cận tư duy và ý tưởng khởi nghiệp, hướng nghiệp ngay từ năm thứ nhất thông qua các môn học cũng như các sự kiện thường xuyên tổ chức. Các chương trình thực tế, chuyến tham quan học thuật và thực tập hướng nghiệp giúp sinh viên củng cố kiến thức và kĩ năng, giúp định hướng nghề nghiệp tương lai rõ ràng.
                </p>
            </div>
        </div>
    </div>
</section><!-- #about -->
