@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #mg {
        margin-bottom: 5px
    }
    #text {font-size: 20px;
           margin-top:10px;
           text-align:justify;
    }
</style>
<!--==========================
      About Us Section
    ============================-->
<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>Giới thiệu về Trường Đại học Nguyễn Tất Thành</h3>
            <p>NTTU - Trường Đại học Nguyễn Tất Thành là trường đại học được định vị là trường ứng dụng thực hành, đáp ứng nhu cầu giáo dục đại học đại chúng thông qua việc tạo lập một môi trường học tập tích cực và trải nghiệm thực tiễn cho mọi sinh viên trang bị cho người học năng lực tự học tinh thần sáng tạo khởi nghiệp có trách nhiệm với cộng đồng hội nhập với khu vực và toàn cầu</p>
        </header>

        <div class="row about-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                <p id="text">
                    Trường ĐH Nguyễn Tất Thành có quy mô đào tạo khoảng 20.000 sinh viên với 15 khoa, 48 chương trình đào tạo bậc đại học thuộc 5 khối ngành: Sức khỏe, Công nghệ - Kĩ thuật, Kinh tế, Xã hội - Nhân văn, Mỹ thuật. Trải qua hơn 20 năm hình thành và phát triển, Nhà trường đã được Bộ Giáo dục và Đào tạo công nhận đạt chuẩn kiểm định chất lượng và được tổ chức QS (QS Quacquarelli Symonds Ltd) chính thức công nhận đạt chuẩn chất lượng 4 sao
                </p>

                <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                    <h4 class="title">ĐỘI NGŨ GIẢNG VIÊN</h4>
                    <p id="mg" class="description">- 924 giảng viên</p>
                    <p id="mg" class="description">- 90% có bằng TS, ThS  </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-photo"></i></div>
                    <h4 class="title">CƠ SỞ VẬT CHẤT</h4>
                    <p id="mg" class="description">- 8 cơ sở đào tạo</p>
                    <p id="mg" class="description">- 100.000 m² sàn xây dựng</p>
                    <p id="mg" class="description">- 3.000 máy tính</p>
                    <p id="mg" class="description">- 100.000 bản sách trong nước và quốc tế</p>
                    <p id="mg" class="description">- Thư viện đạt chuẩn Quốc gia</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon"><i class="fa fa-bar-chart"></i></div>
                    <h4 class="title">CHẤT LƯỢNG</h4>
                    <p id="mg" class="description">- Đạt chuẩn kiểm định chất lượng của Bộ GD&ĐT</p>
                    <p id="mg" class="description">- Đạt chuẩn QS-Stars 4 sao (Anh Quốc)</p>
                    <p id="mg" class="description">- Đạt chuẩn kiểm định chất lượng CTĐT ngành Quản trị khách sạn trình độ đại học</p>
                    <p id="mg" class="description">- Đạt chuẩn kiểm định chất lượng CTĐT ngành Công nghệ Kỹ thuật Điện, Điện tử trình độ đại học</p>
                </div>

            </div>

                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                    <img src="~/Content/img/APD.jpg" class="img-fluid" alt="">
                </div>
        </div>

        <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp">
                <img src="~/Content/img/thuvien.jpg " class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                <h3 id="text">Hệ thống Cơ sở vật chất</h3>
                <p id="text">
                    Trải qua hơn 20 xây dựng và phát triển từ một trung tâm đào tạo nghề Trường Đại học Nguyễn Tất Thành đã trở thành một cơ sở đào tạo đa ngành, đa bậc học có uy tín trong cả nước và quốc tế. Để có được thành quả này, Nhà trường đã không ngừng đầu tư về mọi mặt trong đó ưu tiên cho việc xây dựng cơ sở vật chất phòng học, phòng thí nghiệm, phòng thực hành nhằm đảm bảo chỗ học cho gần 20.000 sinh viên, học viên theo học các bậc đào tạo cao học và đại học tại 15 khoa với 5 khối ngành Sức khỏe, Kinh tế, Xã hội - Nhân văn, Kỹ thuật – Công nghệ, Nghệ thuật – Mỹ thuật.
                </p>
            </div>
        </div>

        <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                <img src="~/Content/img/baove.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                <h3 id="text">Phát triển bền vững</h3>
                <p id="text">
                    Năm 1987, trong Báo cáo “Tương lai chung của chúng ta”, Ủy ban Thế giới về Môi trường và Phát triển (WCED-World Commission on Environment and Development) của Liên hợp quốc, thì "phát triển bền vững" được định nghĩa là “Sự phát triển đáp ứng được nhu cầu của hiện tại mà không làm tổn thương khả năng cho việc đáp ứng nhu cầu của các thế hệ tương lai”.
                </p>
                <p id="text">
                    Trường Đại học Nguyễn Tất Thành hiểu, nắm rõ và thực hiện theo tinh thần này thông qua nhiều hoạt động, chương trình thực tế để biến thông điệp thành thói quen nhằm giúp sinh viên thực sự sống và học tập có trách nhiệm với môi trường và xã hội xung quanh mình.
                </p>
                <p id="text">
                    Gieo mầm xanh, gặt sự sống
                </p>
            </div>

        </div>
    </div>
</section>
<p style="text-align: center">---------------------------------------------</p><!-- #about -->
<!--==========================
      About Us Section
    ============================-->
<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>Giới thiệu về Khoa Công nghệ thông tin</h3>
            <p>Khoa Công nghệ thông tin được thành lập vào ngày 26 tháng 05 năm 2011. Khoa hiện giảng dạy ngành Công nghệ thông tin bậc đại học với 2 chuyên ngành: Kỹ thuật phần mềm và Mạng máy tính và truyền thông cho 740 sinh viên. Hiện Khoa đang có 30 giảng viên bao gồm: 02 GS, 02 PGS, 10 TS và 16 Thạc sĩ.</p>
        </header>

        <div class="row about-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                <h4 id="text">Tầm nhìn</h4>
                <p id="text">
                    Đến năm 2025, Khoa Công nghệ Thông tin – Đại học Nguyễn Tất Thành là nơi uy tín về  đào tạo và cung cấp nguồn nhân lực công nghệ thông tin có trình độ và chất lượng tiên tiến trong khu vực để đáp ứng các yêu cầu về quản lý, sản xuất, dịch vụ và ứng dụng của công nghệ thông tin trong nước và quốc tế.
                </p>
            </div>

            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                <img src="~/Content/img/cntt.png" class="img-fluid" alt="">
            </div>
        </div>

        <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp">
                <img src="~/Content/img/cntt1.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                <h4 id="text">BM Kỹ thuật phần mềm</h4>
                <p id="text">
                    Bộ môn Kỹ thuật phần mềm đảm nhiệm chức năng giảng dạy các môn học chuyên ngành thuộc lĩnh vực Công nghệ phần mềm bậc: Cao đẳng, Đại học Và Trên đại học thuộc khoa CNTT; nghiên cứu khoa học thuộc các lĩnh vực về lý thuyết chuyên ngành, các công cụ và kỹ thuật phát triển của Công nghệ phần mềm
                </p>
            </div>
        </div>

        <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                <img src="~/Content/img/cntt3.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                <h4 id="text">BM Mạng máy tính và Truyền thông</h4>
                <p id="text">
                    Bộ môn Kỹ thuật máy tính đảm nhiệm chức năng giảng dạy các môn học chuyên ngành thuộc lĩnh vực kỹ thuật máy tính, mạng và truyền thông bậc: Cao đẳng, Đại học Và Trên đại học thuộc khoa CNTT; nghiên cứu khoa học thuộc các lĩnh vực về lý thuyết chuyên ngành, các công cụ và kỹ thuật phát triển liên quan đến máy tính
                </p>
            </div>

        </div>

    </div>
</section><!-- #about -->

