
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/dangnhap.css" rel="stylesheet" />
<section>

    <div class="container">
        <div class="row about-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                <div class="img_logo">
                    <img src="/Content/img/lienhe.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>

