
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="~/Content/css/main/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/main/css/owl.theme.default.min.css">
   
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        .owl-stage-outer {
            z-index: -1;
        }

        .owl-dots {
            margin-top: -25px !important;
        }

            .owl-dots span {
                width: 20px !important;
                outline: none;
            }

        .owl-dot {
            outline: none;
        }

        .table_main td {
            font-size: calc(17px + (17 - 15) * ((100vw - 300px) / (1600 - 300)));
            width: 33.333333333333%;
            border: 0.2px solid #eeeeee;
            border-right: 0px;
            text-align: center;
            vertical-align: top;
            padding-top: 15px;
            padding-bottom: 5px;
        }
        

        .table_main .active_td {
            background-color: black;
        }



        .table_main td:focus {
            background-color: black;
        }

       

        .table_main td img {
            width: 40%;
            height: auto;
        }

        .item-tb {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
        }

        .table-item td {
          
            border: none;
            padding-top:0;
            padding-bottom:0
           
        }

        .table-item {
            width: 100%;
        }

        table {
            border-collapse: collapse;
            border-radius: 1em;
            overflow: hidden;
        }

        .table_main {
            box-shadow: 0px 0px 9px 4px #808080;
            background-color: transparent;
            opacity: 1;
            color: #000;
            font-weight: bold;
            border: 1px solid #000;
        }

        .main-home {
            /*background: url(images/AI.jpeg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;*/
        }

            .main-home .bg-img {
                background-origin:content-box;
                padding-top:75px;
                opacity: 0.45;
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: -1;
                background-image: url(/Content/css/main/images/AI.jpg);
                background-position: center;
                background-size: cover;
                /*background-attachment: fixed;*/
            }


        .bg-main-black {
            padding: 10px;
            padding-top: 20px;
        }

        .header-logo {
            text-align: center;
            background-color: #fff;
        }

        .owl-carousel img {
            height: auto;
        }
        .table-item td p {
            font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
            font-weight: bold;
            font-family: Arial;
        }
    </style>
</head>
<body>
    <div class="home">
        <div class="header-logo">
            <img src="~/Content/css/main/images/logo.jpg" style="width:80%;height:auto" />
        </div>
        <div class="owl-carousel owl-theme" style="box-shadow: 0px 10px 6px -2px #808080;">
            <div class="item"><img src="~/Content/css/main/images/banner-main-1.jpg" /></div>
            <div class="item"><img src="~/Content/css/main/images/banner-main-2.jpg" /></div>
            <div class="item"><img src="~/Content/css/main/images/banner-main-3.jpg" /></div>
            <div class="item"><img src="~/Content/css/main/images/banner-main-4.jpg" /></div>
            <div class="item"><img src="~/Content/css/main/images/banner-main-5.jpg" /></div>
            <div class="item"><img src="~/Content/css/main/images/banner-main-6.jpg" /></div>
        </div>
        <div class="main-home">
            <!--<img src="images/AI.jpeg" class="bg-img"/>-->
            <div class="bg-img">

            </div>
            <div class="bg-main-black">
                <table border="0" cellspacing="0" width="100%" class="table_main">
                    <tr>
                        <td onclick="window.location='/Home/Index'">
                            <table border="0" class="table-item">
                                <tr>
                                    <td><img src="~/Content/css/main/images/icon_gioithieu.png" /></td>
                                </tr>
                                <tr>
                                    <td><p>Giới thiệu<br /> về trường</p></td>
                                </tr>
                            </table>
                        </td>
                        <td onclick="window.location = '/Home/TienIchHocTap'">

                            <table border="0" class="table-item">
                                <tr>
                                    <td><img src="~/Content/css/main/images/icon_tienich.png" /></td>
                                </tr>
                                <tr>
                                    <td><p>Tiện ích <br /> học tập</p></td>
                                </tr>
                            </table>

                        </td>
                        <td style="border-right: 0.2px solid #eeeeee;" onclick="window.location='/Home/CacNganhDaoTao'">
                            <table border="0" class="table-item">
                                <tr>
                                    <td><img src="~/Content/css/main/images/icon_daotao.png" /></td>
                                </tr>
                                <tr>
                                    <td><p>Các ngành <br /> đào tạo</p></td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td onclick="window.location='/TuVan/BatDauDinhHuong'">
                            <table border="0" class="table-item">
                                <tr>
                                    <td><img src="~/Content/css/main/images/icon_tracnghiem_nganh.png" /></td>
                                </tr>
                                <tr>
                                    <td><p>Trắc nghiệm <br /> nghề nghiệp</p></td>
                                </tr>
                            </table>

                        </td>
                        <td></td>
                        
                            <td style="border-right: 0.2px solid #eeeeee;" onclick="window.location='/TuVan/DuDoan'">
                                <table border="0" class="table-item">
                                    <tr>
                                        <td><img src="~/Content/css/main/images/icon_dinhhuong_nganh.png" /></td>
                                    </tr>
                                    <tr>
                                        <td><p>Định hướng <br /> ngành nghề</p></td>
                                    </tr>
                                </table>
                            </td>
                        
                        @*else
                        {
                            <td style="border-right: 0.2px solid #eeeeee;" onclick="window.location='/HocSinh/DangXuat'">
                                <table border="0" class="table-item">
                                    <tr>
                                        <td><img src="~/Content/css/main/images/icon_logout.png" /></td>
                                    </tr>
                                    <tr>
                                        <td><p>Đăng xuất</p></td>
                                    </tr>
                                </table>
                            </td>
                        }*@
                        
                    </tr>
                    <tr>
                        <td>
                            <table border="0" class="table-item" onclick="window.location='/Home/PhuongAnTS'">
                                <tr>
                                    <td><img src="~/Content/css/main/images/icon_phuongthuc.png" /></td>
                                </tr>
                                <tr>
                                    <td><p>Phương thức <br /> tuyển sinh</p></td>
                                </tr>
                            </table>

                        </td>
                        <td>
                            <table border="0" class="table-item" onclick="window.location='/HocSinh/DangKyXetTuyen'">
                                <tr>
                                    <td><img src="~/Content/css/main/images/icon_xettuyen.png" /></td>
                                </tr>
                                <tr>
                                    <td><p>Đăng ký <br /> xét tuyển</p></td>
                                </tr>
                            </table>

                        </td>
                        
                        <td style="border-right: 0.2px solid #eeeeee;" onclick="window.location='/ChatView/Index'">
                            <table border="0" class="table-item">
                                <tr>
                                    <td><img src="~/Content/css/main/images/icon_tuvan.png" /></td>
                                </tr>
                                <tr>
                                    <td><p>Tư vấn <br /> trực tuyến</p></td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  
    <script>
       
    </script>
    <script src="~/Content/css/main/js/jquery-2.2.4.min.js"></script>   
    <script src="~/Content/css/main/js/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                loop: true,
                margin: 10,
                dots: true,
                items: 1,
                autoplay: true,
                autoplayTimeout: 4000,
                autoplayHoverPause: true,

            });
           
        });
    </script>
    
</body>

</html>