<style>
    .content_songnganh {
        background-color: #9e1c1f;
        padding: 10px 20px 70px;
        color: #fff;
    }

        .content_songnganh p {
            text-align: justify;
            font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
            color: #fff;
        }

        .content_songnganh span {
            font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
            margin-left: 10px;
        }
</style>
<div class="content_songnganh">
    <img src="/Content/img/ct_lienxuyen.jpg" style="width:100%;height:auto;margin-bottom:10px;" />
    <p>Năm 2021, Trường ĐH Nguyễn Tất Thành hướng tới phát triển nhiều chương trình đào tạo liên ngành, xuyên ngành và song ngành mang tính tiên phong, đón đầu xu thế, đáp ứng những vấn đề cấp thiết của xã hội. Theo đó, chỉ trong thời gian ngắn sinh viên có thế lấy được cùng lúc hai bằng đại học hoặc một bằng đại học được tích hợp các kiến thức có tính liên ngành, liên lĩnh vực từ đó giúp sinh viên ra trường mở rộng cơ hội nghề nghiệp và phát triển tương lai.</p>
    <p style="margin-bottom:0px">2 chương trình đào tạo song ngành gồm:</p>
    <span>■ Du lịch số <br /><span style="color: #b6b6b6; ">(Quản trị kinh doanh - Công nghệ thông tin)</span></span><br />
    <span>■ Kinh tế số <br /><span style="color: #b6b6b6">(Tài chính ngân hàng - Công nghệ thông tin)</span></span><br />
    <span>■ Công nghệ tài chính <br /><span style="color: #b6b6b6">Du lịch - Công nghệ thông tin)</span>(</span><br />
    <span>■ Tin sinh học<br /><span style="color: #b6b6b6">(Công nghệ sinh học - Công nghệ thông tin)</span></span><br />
    <span>■ Quản trị công nghệ sinh học<br /><span style="color: #b6b6b6">(Công nghệ sinh học - Quản trị kinh doanh) tin)</span></span>
</div>

