<link href="~/Content/css/vienquocte.css" rel="stylesheet" />
<section class="content_quocte">
    <div class="content_quocte_bgr_header">
        <div class="introduce">
            <img src="/Content/img/banner_quocte.jpg" style="width:100%;height:auto" />
            <p class="content_quocte_bgr__title"><b>Viện đào tạo Quốc tế NTT (NIIE)</b> là đơn vị tiên phong của <b> Trường Đại học Nguyễn Tất Thành </b> trong công tác Quốc tế hóa giáo dục Đại học. Được thành lập vào năm 2008, Viện NIIE có bề dày kinh nghiệm hợp tác với các Trường Đại học uy tín tại các quốc gia có nền giáo dục tiên tiến mang đến cho sinh viên chất lượng giáo dục hàng đầu với mức học phí ưu đãi. Viện NIIE là đơn vị giáo dục đẩu tiên tại Việt Nam được công nhận kiềm định của tổ chức <b>ASIC (Anh Quốc)</b> .</p>
        </div>
    </div>
    <div class="content__cunhanquocte">
        <div class="area__ct_header">
            <h4>Chương trình</h4>
            <h3 class="bgr_title">CỬ NHÂN CHUẨN QUỐC TẾ</h3>
            <h5>ƯU ĐIỂM CHƯƠNG TRÌNH</h5>
        </div>
        <div class="area__ct_body">
            <div class="ct_body__item_2">
                <div class="ct_body__item_header">
                    <img src="/Content/img/1 - Hoc-phi-uu-dai.png" />
                </div>
                <div class="ct_body__item_content">
                    Học phí ưu đãi. <br /> Học bổng hấp dẫn
                </div>
            </div>

            <div class="ct_body__item_2">
                <div class="ct_body__item_header">
                    <img src="/Content/img/2 - Dao-tao-song-ngu.png" />
                </div>
                <div class="ct_body__item_content">
                    Đào tạo song ngữ <br /> Anh - Việt
                </div>
            </div>
            <div class="ct_body__item_2">
                <div class="ct_body__item_header">
                    <img src="/Content/img/3 - 6 lop tieng anh.png" />
                </div>
                <div class="ct_body__item_content">
                    6 lớp tiếng Anh <br /> tăng cường
                </div>
            </div>
            <div class="ct_body__item_2">
                <div class="ct_body__item_header">
                    <img src="/Content/img/4 - co hoi du hoc.png" />
                </div>
                <div class="ct_body__item_content">
                    Cơ hội chuyển tiếp <br /> du học
                </div>
            </div>
            <div class="ct_body__item_2">
                <div class="ct_body__item_header">
                    <img src="/Content/img/5 - Mo hinh lop hoc.png" />
                </div>
                <div class="ct_body__item_content">
                    Mô hình lớp  <br /> học nhỏ
                </div>
            </div>
            <div class="ct_body__item_2">
                <div class="ct_body__item_header">
                    <img src="/Content/img/6 - 100 co hoi viec lam.png" />
                </div>
                <div class="ct_body__item_content">
                    100% cơ hội <br /> việc làm
                </div>
            </div>
        </div>

    </div>
    <div class="content_thoigiandaotao">
        <div class="bgr_area">
            <h4>THỜI GIAN ĐÀO TẠO</h4>
            <h2>3.5 NĂM</h2>
        </div>
        <div class="area__ct_header">
            <h5>7 NGÀNH ĐÀO TẠO</h5>
        </div>
        <div class="area__ct_body">
            <div class="ct_body__item_3">
                <div class="ct_body__item_header">
                    <img src="/Content/img/1 - ke toan copy.png" />
                </div>
                <div class="ct_body__item_content">
                   Kế toán
                </div>
            </div>
            <div class="ct_body__item_3">
                <div class="ct_body__item_header">
                    <img src="/Content/img/2 - quan tri kinh doanh copy.png" />
                </div>
                <div class="ct_body__item_content">
                    Quản trị <br /> kinh doanh
                </div>
            </div>
            <div class="ct_body__item_3">
                <div class="ct_body__item_header">
                    <img src="/Content/img/3 - luat kinh te.png" />
                </div>
                <div class="ct_body__item_content">
                    Luật kinh tế
                </div>
            </div>
            <div class="ct_body__item_3">
                <div class="ct_body__item_header">
                    <img src="/Content/img/4 - qtks.png" />
                </div>
                <div class="ct_body__item_content">
                  Quản trị <br /> khách sạn
                </div>
            </div>
            <div class="ct_body__item_3">
                <div class="ct_body__item_header">
                    <img src="/Content/img/5 - CNTT.png" />
                </div>
                <div class="ct_body__item_content">
                   Công nghệ <br /> Thông tin
                </div>
            </div>
            <div class="ct_body__item_3">
                <div class="ct_body__item_header">
                    <img src="/Content/img/6 - CNKT o to.png" />
                </div>
                <div class="ct_body__item_content">
                   Công nghệ <br /> kỹ thuật ô tô
                </div>
            </div>
            <div class="ct_body__item_3">
                <div class="ct_body__item_header">
                    <img src="/Content/img/7 - logistics.png" />
                </div>
                <div class="ct_body__item_content">
                    Học phí ưu đãi. <br /> Học bổng hấp dẫn
                </div>
            </div>
        
        </div>
        <div class="area_dangkyngay">
            <div class="left__icon">
                <i class="fa fa-heart"></i>
            </div>
            <div class="right__content">
                Đăng ký xét tuyển ngay!
            </div>
        </div>
    </div>
</section>


