<style>
    .info_saudaihoc {
        padding: 20px 10px 10px;
    }


    .info_saudaihoc h4 {
            text-align: center;
            color: #29abe2;
            font-weight: bold;
            font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
        }



     .info_saudaihoc .info_saudaihoc__left p {
            font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
            color: #29abe2;
            background-repeat: no-repeat;
            background-position: center left;
            background-size: contain;
            line-height: 30px;
            padding-left: 35px;
            margin-bottom: 5px;
        }

      .info_saudaihoc .info_saudaihoc__left p:first-child {
                background-image: url('/Content/img/icon_ts_1.png');
       }

      .info_saudaihoc .info_saudaihoc__left p:nth-child(2) {
                background-image: url('/Content/img/icon_ts_2.png');
       }

      .info_saudaihoc .info_saudaihoc__left p:last-child {
                background-image: url('/Content/img/icon_ts_3.png');
       }

    .linkto_gioithieu {
        text-align: center;
    }

        .linkto_gioithieu a {
            text-decoration: none;
            font-size: 20px;
            color: #f11111;
            font-weight: bold;
        }
</style>

<div class="info_saudaihoc">
    <h4>VIỆN ĐÀO TẠO SAU ĐẠI HỌC</h4>
    <div class="info_sdh info_saudaihoc__left">
        <p>300A Nguyễn Tất Thành, P.13, Q.4, TP.HCM</p>
        <p>(028) 66 592 139</p>
        <p>saudaihoc.ntt.edu.vn</p>
    </div>
    <div class="info_sdh info_saudaihoc__right" style="margin-top:10px;text-align:center">
        <img src="/Content/img/ts_luachon.png" style="width:80%;height:auto" />
    </div>
    <img src="/Content/img/ts_thongke.jpg" style="width:100%;height:auto" />
    <div class="linkto_gioithieu">
        <a href="">GIỚI THIỆU</a>
    </div>
</div>
