@{
    ViewBag.Title = "DuDoan";
    Layout = "~/Views/Shared/_Layout_TuVan.cshtml";
}
<link href="~/Content/css/form_dudoan.css" rel="stylesheet" />
<style>
    .d-lg-none{
        display:none
    }
    .title_dudoan {
        font-size: calc(20px + (22 - 22) * ((100vw - 300px) / (1600 - 300)));
    }
</style>
<div class="dudoan" style="margin-top:100px">
    <h2 class="title_dudoan">ĐỊNH HƯỚNG NGÀNH NGHỀ</h2>
    <div class="form-advisory">
        <div class="select-form">
            <select>
                <option value="1">Lớp 10</option>
                <option value="2">Lớp 11</option>
                <option value="3">Lớp 12</option>
            </select>
        </div>
        <div class="content-form">
            <p style="margin-bottom:10px;color:blue">Vui lòng nhập điểm các môn học</p>
            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>Tên môn học</th>
                        <th>Điểm cả năm lớp</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>Toán</td>
                        <td><input type="number" id="txtToan" onkeypress="if(this.value.length==2) return false; " class="line-animation" /><div class="line"></div></td>
                    </tr>
                    <tr>
                        <td>Vật lý</td>
                        <td><input type="number" id="txtLy" onkeypress="if(this.value.length==2) return false;" class="line-animation" /><div class="line"></div></td>
                    </tr>
                    <tr>
                        <td>Hóa học</td>
                        <td><input type="number" id="txtHoa" onkeypress="if(this.value.length==2) return false;" class="line-animation" /><div class="line"></div></td>
                    </tr>
                    <tr>
                        <td>Ngữ văn</td>
                        <td><input type="number" id="txtVan" onkeypress="if(this.value.length==2) return false;" class="line-animation" /><div class="line"></div></td>
                    </tr>
                    <tr>
                        <td>Lịch sử</td>
                        <td><input type="number" id="txtSu" onkeypress="if(this.value.length==2) return false;" class="line-animation" /><div class="line"></div></td>
                    </tr>
                    <tr>
                        <td>Địa lý</td>
                        <td><input type="number" id="txtDia" onkeypress="if(this.value.length==2) return false;" class="line-animation" /><div class="line"></div></td>
                    </tr>
                    <tr>
                        <td>Sinh học</td>
                        <td><input type="number" id="txtSinh" onkeypress="if(this.value.length==2) return false;" class="line-animation" /><div class="line"></div></td>
                    </tr>
                    <tr>
                        <td>Anh văn</td>
                        <td><input type="number" id="txtAnh" onkeypress="if(this.value.length==2) return false;" class="line-animation" /><div class="line"></div></td>
                    </tr>

                </tbody>
            </table>
            <a class="btn-dudoan" id="send_dudoan" href="#result">Định hướng</a>           
        </div>
        <div class="result-form" id="result">
            <h4 style="font-weight:bold">Bạn có thể theo học các ngành sau:</h4>

           
           
            <ul class="result-tb" style="color: #a90f0f;font-weight: bold;text-align: left;padding-left: 15px;line-height:2"></ul>
            
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        $('.menu-tv').removeClass("active");
        $('.tv_dudoan').addClass("active");
    });
    $(document).ready(function () {
        // Add smooth scrolling to all links
        $("#send_dudoan").on('click', function (event) {

            var toan = ($('#txtToan').val()).trim();
            var ntoan = parseFloat(toan);
            
            var ly = ($('#txtLy').val()).trim();
            var nly = parseFloat(ly);
           
            var hoa = ($('#txtHoa').val()).trim();
            var nhoa = parseFloat(hoa);
          
            var sinh = ($('#txtSinh').val()).trim();
            var nsinh = parseFloat(sinh);
            
            var van = ($('#txtVan').val()).trim();
            var nvan = parseFloat(van);
           
            var su = ($('#txtSu').val()).trim();
            var nsu = parseFloat(su);
       
            var dia = ($('#txtDia').val()).trim();
            var ndia = parseFloat(dia);
          
            var anh = ($('#txtAnh').val()).trim();
            var nanh = parseFloat(anh);
        

            if (toan.length == 0)
                ntoan = 0;
            if (ly.length == 0)
                nly = 0;
            if (hoa.length == 0)
                nhoa = 0;
            if (van.length == 0)
                nvan = 0;
            if (su.length == 0)
                nsu = 0;
            if (dia.length == 0)
                ndia = 0;
            if (sinh.length == 0)
                nsinh = 0;
            if (anh.length == 0)
                nanh = 0;
          
                if (toan < 0 || toan > 10)
                    alert('Điểm toán khoảng từ 0 đến 10');
                else if (ly < 0 || ly > 10)
                    alert('Điểm lý khoảng từ 0 đến 10');
                else if (hoa < 0 || hoa > 10)
                    alert('Điểm hóa khoảng từ 0 đến 10');
                else if (van < 0 || van > 10)
                    alert('Điểm văn khoảng từ 0 đến 10');
                else if (su < 0 || su > 10)
                    alert('Điểm sử khoảng từ 0 đến 10');
                else if (dia < 0 || dia > 10)
                    alert('Điểm địa khoảng từ 0 đến 10');
                else if (sinh < 0 || sinh > 10)
                    alert('Điểm sinh khoảng từ 0 đến 10');
                else if (anh < 0 || anh > 10)
                    alert('Điểm anh khoảng từ 0 đến 10');
                else {
                    $('.result-form').css('display', 'block');
                    $.ajax({
                        url: "getNganh_TheoDiem",
                        data: { toan: ntoan, ly: nly, hoa: nhoa, van: nvan, su: nsu, dia: ndia, sinh: nsinh, anh: nanh },
                        datatype: "json",
                        type: "POST",
                        success: function (response) {
                            $('.result-tb').empty();
                            if (response.status != null)
                            {
                                $.each(response.status, function () {
                                    
                                    $('.result-tb').append("<li onclick=\"window.location=\'/Home/ChiTietRiengCacNganh?id="+this.ID_CHUYENNGANH+"\'\">" + this.TENCHUYENNGANH + "</li>");
                                })
                            } else {
                                $('.result-tb').append("<li>Không có ngành phù hợp</li>");
                            }
                           
                           
                        }
                    });

                
                    

                    // Make sure this.hash has a value before overriding default behavior
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 100, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });

                }

        });

    });
  
    
</script>