
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>NewBiz Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <!--chat-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <link href="~/Content/css/dathang.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/elegant-icons.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/nice-select.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/slicknav.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/css/form_dudoan.css" rel="stylesheet" />
    <link href="~/Content/css/ks-form.css" rel="stylesheet" />


</head>
<body>
    <main id="main">
        <link href="~/Content/css/dangnhap.css" rel="stylesheet" />
        <div class="primari-box registered-account dn">
            <form class="new-account-box" id="accountLogin" method="post" action="#">
                <h3 class="box-subheading">Đăng nhập</h3>
                <hr style="border: 1px solid; width: 100px;margin-bottom:35px" />
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <div class="form-content">
                        <div class="form-group primary-form-group">
                            <label for="loginemail">Số điện thoại</label>
                            @*<input type="text" value="" name="email" id="loginemail" class="">*@
                            @Html.TextBox("SDT", null, new { required = "required", @id = "mobile", @class = " input-feild line-animation", type = "text" })
                            <div class="line"></div>
                        </div>
                        <div class="form-group primary-form-group" style="margin-bottom:0px">
                            <label for="password">Mật khẩu</label>
                            @*<input type="password" value="" name="password" id="password" class="form-control input-feild">*@
                            @Html.Password("MatKhau", null, new { @class = "input-feild line-animation" })
                            <div class="line"></div>
                        </div>
                        <div class="submit-button">
                            <input type="submit" value="Đăng nhập" id="signinCreate" class="btn main-btn checkmobile" style="width:100%" />
                        </div>
                        <div class="mess">@ViewBag.ThongBao</div>
                    </div>
                }
            </form>
        </div>
    </main>
    <!--js-->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/mobile-nav/mobile-nav.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="~/contactform/contactform.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Content/auto/jquery-ui.js"></script>
    <script src="~/Scripts/auto_complete_Truong.js"></script>
    <!-- Template Main Javascript File -->
    <script src="~/Scripts/main.js"></script>
</body>
</html>

