
.table-bordered th,td{
    text-align:center
}
  .back {
        text-decoration: none;
        padding: 10px 20px;
        background-color: black;
        font-weight: bold;
        color: white;
        margin-left: 30px;
    }

        .back:hover {
            background-color: #d3c4c4;
            color: black;
            text-decoration: none;
        }

    .text input {
        width: 260px;
    }

    .input-chitiet {
        width: 260px;
        height: 100px;
    }

    .chitiet {
        position: relative;
        top: -79px;
    }

    .control-label {
        padding-left: 0;
    }

    .field-validation-error {
        margin: auto;
        color: red;
        display: inline-block;
    }



    .img {
        border: 1px solid #000;
        height: 300px;
        padding: 0px;
    }
     .conten-information h2 {
        text-align: center;
        font-weight: bold;
    }

    .conten-information .card-body {
        padding: 50px;
    }

    .conten-information .info-group {
        margin-bottom: 20px;
    }

    .conten-information .text {
        float: right;
        font-weight: bold;
    }

    .img-nv {
        border: 1px solid #000;
        height: 240px;
        padding: 0px;
    }

