.table-bordered th, .table-bordered td {
    text-align: center
}

.info .row {
    margin-bottom: 40px;
}

.info {
    padding-left: 50px;
    width: 80%;
    margin: auto;
}

.in {
    float: left;
}

.xoasv {
    background-color: #ca3838;
    color: white !important;
    border-color: #ca3838;
}
