@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Chat BOT</title>
    <link rel="stylesheet" type="text/css" href="~/Content/static/bootstrap.min.css" />
    <script type="text/javascript" src="~/Content/static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/static/bootstrap.min.js"></script>
    <link href="~/Content/css/chat.css" rel="stylesheet" />
    <link href="~/Content/css/ringring_phone.css" rel="stylesheet" />
    <style>

       

       

        .area-chat, .header-chat, .body-chat, #chatbox, #formInput {
            display: block !important;
        }

        html {
            height: -webkit-fill-available;
        }
        .wrapper{
            position:absolute;
            bottom:0;
            right:0
        }
        #CallButton {
            touch-action: manipulation;
        }
    </style>
</head>
<body>

    <!-- Modal -->

    <div class="area-chat">

        <div class="header-chat">

            <h4>NTTU có thể giúp gì được cho bạn</h4>
        </div>
        <div class="body-chat">
            <div class="wrapper">
                <div class="ring">
                    <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
                        <div class="coccoc-alo-ph-circle"></div>
                        <div class="coccoc-alo-ph-circle-fill"></div>
                        <a id="CallButton" href="tel:19002039">
                        <div class="coccoc-alo-ph-img-circle"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="chatbox">
               
                <p class="text-right"><img src="/Content/static/messenger.png" height="31" width="27">&nbsp;&nbsp;<span class="bg-success text-white rounded p-1" style="">Đào tạo</span></p>
                <p class="text-left"><img src="/Content/static/chatbot.jpg" height="31" width="27">&nbsp;&nbsp;<span class="bg-info text-white rounded p-1" style="">Các hệ thống đào tạo của trường gồm: Đại học, Liên thông, Thạc sĩ, tiến sĩ</span></p>
                <p class="text-right"><img src="/Content/static/messenger.png" height="31" width="27">&nbsp;&nbsp;<span class="bg-success text-white rounded p-1" style="">Hồ sơ nhập học</span></p>
                <p class="text-left"><img src="/Content/static/chatbot.jpg" height="31" width="27">&nbsp;&nbsp;<span class="bg-info text-white rounded p-1" style="">1. Bản chính giấy chứng nhận kết quả thi THPT Quốc Gia 2020 2. Học phí lệ phí học kì 1 3. CMND(2 bản photo) 4. Thẻ BHYT (1 bản photo) nếu có</span></p>

            </div>
         
            <div id="formInput">
                <input type="text" id="textInput" class="form-control" name="msg">

                <input type="submit" id="buttonInput" class="btn btn-primary btn-block" value="Gửi">
            </div>

        </div>
        @*<div class="footer-chat">
                <div id="formInput">
                    <input type="text" id="textInput" class="form-control" name="msg">
                    <br />
                    <input type="submit" id="buttonInput" class="btn btn-primary btn-block" value="Gửi">
                </div>
            </div>*@

    </div>
    <script type="text/javascript" src="~/Scripts/chatbot.js"></script>

</body>
</html>




